body {
    background: linear-gradient(rgb(242, 253, 224), rgb(100, 100, 100));

  }


.card1 {
    position: relative;
    width: 85%;

}

.container-fluid {
    transition: transform 0.3s;

}

.my-form {
    position: relative;
    background:white;
    width: 80%;
    border-radius: 10px;
    border: 3px;
    border-color: black;
    padding: 30px;

}

.container-fluid:hover {
    transform: scale(1.01);
  }

.coordinates{
    position: center;
    background:white;
    width: 80%;
    border-radius: 10px;
    border: 3px;
    border-color: black;
    padding: 30px;

}

