{% extends "base1.html" %}
{% load crispy_forms_tags %}

{% block title %}
Register page
{% endblock %}


{% block content %}

    <center>
      <br><br>
      <div class="my-form">
      <div class="container">
        <h5 class="card-title">Sign up</h5>

        <br><hr><br>
        <h1>Create Symptom</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
    
    <div>
    </div>
    </center>
    <br><br>

    {% endblock %}


    {% block script %}

  

    {% endblock %}