{% load static %}
<!-- ward_map.html -->

<!DOCTYPE html>
<html>
<head>
  <title>Ward Map</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
        <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit-icons.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <!-- Include Leaflet CSS and JavaScript files -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  <style>
    #map {
      height: 400px;
    }
  </style>
</head>
<body>
  <div class="uk-container">
    <ul class="uk-iconnav">
      <li><a href="#" uk-icon="icon: plus"></a></li>
      <li><a href="#" uk-icon="icon: file-edit"></a></li>
      <li><a href="#" uk-icon="icon: copy"></a></li>
      <li><a href="#"><span uk-icon="icon: bag"></span> (2)</a></li>
  </ul>

  <hr class="uk-divider-icon">
    

    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div id="map"></div>
        </div>
        <hr class="uk-divider-vertical">
        <div class="col">

              

          <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-hover uk-card-body">
                    <h3 class="uk-card-title">Cases  <span uk-icon="icon: warning"></span></h3>
                    {% for case in cases %}
                <ul class="uk-list uk-list-striped.uk-list-collapse">
                  <li>

                    <div class="uk-inline.uk-text-small">
                      <p >{{ case.case_id}}-{{ case.spece}}-{{ case.date}}</p>
                      <div class="uk-card uk-card-body uk-card-default" uk-drop>
                        symptoms<hr>
                    <p class="card-text">{% for symptom in case.symptoms.all %}
                      {{ symptom }}  .
                    {% endfor %}</p><hr>
                        <p> <span uk-icon="icon: user"></span>:{{ case.farmer1}}</p>
                          <hr>contacts
                          <p> <img src="{% static 'images/phone.svg' %}" alt="Filter" class="me-2" width="20" height="20">:{{ case.farmer1.phone}}</p>
                          <p> <img src="{% static 'images/email.svg' %}" alt="Filter" class="me-2" width="20" height="20">:{{ case.farmer1.email}}</p>
                        
                        </div>
                        

                  </div>
                    

                  </li>
                {% endfor%}

              </ul>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <h3 >Farmers <span uk-icon="icon: user"></span></h3>
                    <ul class="uk-list uk-list-striped.uk-list-collapse">
                    {% for farmer in farmers %}
                    <li>
                    <div class="uk-inline">
                      <p class="uk">{{ farmer.name}}</p>
                      <div class="uk-card uk-card-body uk-card-default" uk-drop>contact
                        <p><span class="uk-margin-small-right" uk-icon="check"></span> email:{{ farmer.email}}</p>
                        <p> phone:{{ farmer.phone}}</p></div>
                  </div>
                    
                  
                    

                    

                    



                    

                  </li>
                {% endfor%}
                </div>
            </div>
            
            </div>
        </div>
        </div>
        

      </div>
    </div>

  </div>
  

  <script>
    // Get the serialized ward data from the template context
    var serializedWard = {{ serialized_ward|safe }};
    var cases = [
            {% for case in cases %}
                [{{ case.lat }}, {{ case.long }}, "{{ case.title }}"],
            {% endfor %}
        ];

    

    // Create a Leaflet map centered at a specific location
    var map = L.map('map').setView([-17, 31], 10);

    // Add a tile layer to the map (you can use any tile provider)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 18,
    }).addTo(map);

    // Create a GeoJSON layer and add it to the map
    var geojsonLayer = L.geoJSON(serializedWard, {
      style: function(feature) {
        // Customize the style of each feature in the GeoJSON layer
        return {
          fillColor: 'green',
          weight: 2,
          opacity: 1,
          color: 'red',
          fillOpacity: 0.3
        };
      }
    }).addTo(map);

     // Add red dot markers for each case
     var caseMarkers = L.layerGroup();
     cases.forEach(function (caseObj) {
         var marker = L.circleMarker([caseObj[0], caseObj[1]], {
             radius: 2,
             color: 'red',
             fillColor: 'red',
             fillOpacity: 1
         }).bindPopup(caseObj[2]);
         caseMarkers.addLayer(marker);
     });
     caseMarkers.addTo(map);

            // Zoom the map to the bounds of the districts layer
            map.fitBounds(geojsonLayer.getBounds());
  </script>
</body>
</html>