{% extends "base1.html" %}
{% load crispy_forms_tags %}

{% block title %}
Register page
{% endblock %}


{% block content %}

    <center>
      <br><br>
      <div class="my-form">
      <div class="container">
        <h5 class="card-title">Sign up</h5>

        <br><hr><br>
        {% if submitted %}
        <p>Successfully created an account!!</p>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <input  type="submit" value="Submit" class="btn btn-secondary">
        </form>
    {% endif %}
    
    <div>
    </div>
    </center>
    <br><br>

    {% endblock %}


    {% block script %}

    <script>
      $("#id_species_owned").select2();
      $("#id_district").select2();
      $("#id_ward").select2();
    </script>

    {% endblock %}
    

