{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}



<html>
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        
        
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animal information system</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet", href = "{% static 'css/vetapp/map.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

                <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit-icons.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map {
            height: 680px;
            width: 100%;
        }
    </style>
</head>
<body>

    {% include "vet_navbar.html" %}<br>
    <center>
    <p class="d-inline-flex gap-1">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <img src="{% static 'images/filter.svg' %}" alt="Filter" class="me-2" width="20" height="20"> Filters
        </a>
        
      
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form method="post" action="{% url 'cases_map' %}">
                {% csrf_token %}
                <div>
                    <label for="district-select">Select a district: <img src="{% static 'images/district.svg' %}" alt="Filter" class="me-2" width="20" height="20"></label><br>
                    <select class="js-example-responsive"  id="district-select" name="district_id" style="width: 50%">
                        <option value="">All districts</option>
                        {% for district in districts %}
                        <option value="{{ district.id }}" {% if selected_district and district.id == selected_district.id %}selected{% endif %}>
                            {{ district.name_2 }}
                        </option>
                        {% endfor %}
                    </select>
                </div><hr><br>

                <div>
                    <label for="district-select">Select a symptom: <img src="{% static 'images/health.svg' %}" alt="Filter" class="me-2" width="20" height="20"></label><br>
                    <select class="js-example-responsive"  id="symptoms" name="symptoms" style="width: 50%" multiple>
                        <option value="">All symptoms</option>
                        {% for symptom in all_symptoms %}
                        <option value="{{ symptom.name }}" {% if symptom.name in selected_symptoms %}selected{% endif %}>{{ symptom.name }}</option>
                        {% endfor %}
                    </select>

 
                </div><hr><br>
                <div class="form-group">
                    <label for="start-date">Start Date :  <img src="{% static 'images/clock2.svg' %}" alt="Filter" class="me-2" width="20" height="20"></label>
                    <input type="date" id="start-date" name="start_date" value="{{ start_date }}" class="form-control" style="width: 50%"> 
                    <label for="end-date">End Date:  <img src="{% static 'images/clock2.svg' %}" alt="Filter" class="me-2" width="20" height="20"></label>
                    <input type="date" id="end-date" name="end_date" value="{{ end_date }}" class="form-control" style="width: 50%">
                </div><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        
    </div></center>
    <div id="map"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        $("#district-select").select2();
        $("#symptoms").select2();

      </script>
    <script>
        var map = L.map('map');

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Load GeoJSON data
        var districts = {{ serialized_districts|safe }};

        var cases = [
            {% for case in cases %}
                [{{ case.lat }}, {{ case.long }}, "{{ case.spece }}"],
            {% endfor %}
        ];

        // Add GeoJSON layer to the map
        var districtLayer = L.geoJSON(districts, {
            style: function(feature) {
                return {
                    fillColor: 'green',
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    fillOpacity: 0.5
                };
            }
        }).addTo(map);
        
       // Add the serialized wards with cases GeoJSON layer
        // Add the serialized wards with cases GeoJSON layer
var serialized_ward_with_cases = '{{ serialized_ward_with_cases|safe }}';
if (serialized_ward_with_cases !== 'null') {
    var ward_with_cases = JSON.parse(serialized_ward_with_cases);
    var wardsLayer = L.geoJSON(ward_with_cases, {
        style: function(feature) {
            return {
                fillColor: 'brown',
                weight: 2,
                opacity: 0.2,
                color: 'red',
                fillOpacity: 0.5
            };
        }
    }).addTo(map);
}
        

         // Add red dot markers for each case
         var caseMarkers = L.layerGroup();
         cases.forEach(function (caseObj) {
             var marker = L.circleMarker([caseObj[0], caseObj[1]], {
                 radius: 2,
                 color: 'red',
                 fillColor: 'red',
                 fillOpacity: 1
             }).bindPopup(caseObj[2]);
             caseMarkers.addLayer(marker);
         });
         caseMarkers.addTo(map);

        // Fit the map bounds to the district layer
        map.fitBounds(districtLayer.getBounds());

    </script>
</body>
</html>