{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}



<html>
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <style type='text/css'>
            #map  { width: 100%;  height:100%;}
        </style>
        
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animal information system</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet", href = "{% static 'css/vetapp/map.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>

                <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit-icons.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    </head>
<body>
    {% include "vet_navbar.html" %}
    <div id="map">

    </div>

    <div id="right-div">

        {% if symptom_count > 5 %}
        <div class="alert alert-danger" role="alert">
            Warning: {{ symptom_name }} has been reported {{ symptom_count }} times
        </div>
        {% endif %}
        
        <div class="card text-center">
            
            <div class="card-body">
              <h5 class="card-title">{{ districts_string }} Details</h5>
              <hr>
              <p class="card-text">Total Wards: {{ ward_count }}</p>
              <hr>
              <p class="card-text">Total Cases Reported: {{ case_count }}</p>
              <hr>
              <p class="card-text">Cattle Cases Reported: {{ catle_cases_count }}</p>
              
              <hr>
              <p class="card-text"> The most symptoms in all cases is : <a href="#">{{ symptom_name }}</a> appearing in {{ symptom_count }} cases</p>
              <hr><br><br><br>
              <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">View District Details</button>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">{{ districts_string }} Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <table class="table table-striped">

                        <tr>
                            <th>Ward Name</th>
                            <th>Number of Cases</th>
                            <th>Symptoms</th>
                        </tr>
                        {% for ward_name, data in ward_cases_dict.items %}
                            <tr>
                                <td>ward-{{ ward_name }}</td>
                                {% if data.num_cases%}
                                <td>{{ data.num_cases }}</td>
                                {% else %}
                                <td>0</td>
                                {% endif %}
                                <td>
                                    {% if data.num_cases > 0 %}
                                        {% for symptom in data.symptoms %}
                                            {{ symptom }},
                                        {% endfor %}
                                    {% else %}
                                        No cases
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    
                    <div class="d-grid gap-2 col-6 mx-auto">
                        
                        <a href="/download_cases_csv"  uk-icon="download">Download cases CSV</a>
                        
                      </div>
                      
                </div>
                </div>
            </div>
            
          </div>
         
        

    </div>
    
    <script>
        // set variables for district wards and cases geojsons
        var districts = {{ serialized_districts|safe }};
        var wards = {{ serialized_wards|safe }};
        var wards_with_cases = {{ serialized_ward_with_cases|safe }};
        var cases = [
            {% for case in cases %}
                [{{ case.lat }}, {{ case.long }}, "{{ case.title }}"],
            {% endfor %}
        ];
        var hoverPopup = L.popup({
            closeButton: false,
            autoClose: false
        });

        //load and osm map
        var map = L.map('map').setView([-17, 30.8], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

    

        var hoverPopup = L.popup({
            closeButton: false,
            autoClose: false
        });

        //render distric layer
        var districtLayer = L.geoJSON(districts, {
            style: {
                fillColor: 'blue',
                color: 'blue',
                fillOpacity: 0.01,
                weight: 2
            },
            onEachFeature: function (feature, layer) {
                layer.on('mouseover', function (e) {
                    var districtName = feature.properties.name_2;
                    hoverPopup.setLatLng(e.latlng).setContent(districtName).openOn(map);
                });

                layer.on('mouseout', function (e) {
                    hoverPopup.remove();
                });
            }
        }).addTo(map);

        //render distric layer
        var wardscaseLayer = L.geoJSON(wards_with_cases, {
            style: {
                fillColor: 'purple',
                color: 'red',
                fillOpacity: 0.3,
                weight: 2
            },
        }).addTo(map);

        //render ward layer
        var wardLayer = L.geoJSON(wards, {
            style: {
                fillColor: 'green',
                color: 'purple',
                fillOpacity: 0.2,
                weight: 0.5
            },
            onEachFeature: function (feature, layer) {
                var district = feature.properties.district;
                var wardName = feature.properties.ward_name;
                var district_foreign = feature.properties.district_foreign;
        
                layer.on('click', function (e) {
                    // Redirect to a new page with the map focused on the clicked ward
                    window.location.href = '/ward/' + district_foreign + '/' + wardName ;
                });
        
                layer.on('mouseover', function (e) {
                    layer.bindPopup("District: " + district + "<br>Ward: " + wardName).openPopup();
                });
        
                layer.on('mouseout', function (e) {
                    layer.closePopup();
                });
            }
        }).addTo(map);

                // Add red dot markers for each case
                var caseMarkers = L.layerGroup();
                cases.forEach(function (caseObj) {
                    var marker = L.circleMarker([caseObj[0], caseObj[1]], {
                        radius: 2,
                        color: 'red',
                        fillColor: 'red',
                        fillOpacity: 1
                    }).bindPopup(caseObj[2]);
                    caseMarkers.addLayer(marker);
                });
                caseMarkers.addTo(map);


                

var buffers = L.layerGroup();

cases.forEach(function (caseObj) {
  var point = turf.point([caseObj[0], caseObj[1]]);
  var buffered = turf.buffer(point, 500, { units: 'miles' });

  var bufferLayer = L.geoJSON(buffered, {
    style: {
      fillColor: 'amber',
      color: 'amber',
      fillOpacity: 0.5
    }
  });

  bufferLayer.addTo(buffers);
});

buffers.addTo(map);

        // Zoom the map to the bounds of the districts layer
        map.fitBounds(districtLayer.getBounds());

    // Create layer control and add layer groups
    var layerControl = L.control.layers(null, null, { collapsed: true }).addTo(map);
    layerControl.addOverlay(districtLayer, 'Districts');
    layerControl.addOverlay(wardLayer, 'Wards');
    layerControl.addOverlay(caseMarkers, 'Cases')
    layerControl.addOverlay(wardscaseLayer, 'Affected Wards')
    layerControl.addOverlay(buffers, 'Risk regions')


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html> 