#map {
    position: relative;
    width: 75%;
    height: 100%;
}



#right-div {
    position: absolute;
    top: 80px;
    right:0px;
    background-color: white;
    width: 25%;
    padding: 10px;
    z-index: 1000;
}