{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'farm_home' %}"><img src="{% static 'images/cow.svg' %}" alt="Filter" class="me-2" width="30" height="30">Livestock App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'farm_home' %}"><img src="{% static 'images/home.svg' %}" alt="Filter" class="me-2" width="20" height="20">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}"><img src="{% static 'images/login.svg' %}" alt="Filter" class="me-2" width="20" height="20">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'report_case' %}"><img src="{% static 'images/redflag.svg' %}" alt="Filter" class="me-2" width="20" height="20">Report symptoms</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>