{% extends "base.html" %}
{% load static %}
{% block landing %}
{% include "navbar.html" %}

<div class="cardn">
    <div class="text-center">
    <img src="{% static 'images/main.png' %}" id= "main-image" class="card-img-top" style="width: 400px; object-fit: cover; opacity: 0.8;" >
  
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Zimbabwe's animal health information system</p>
      <a href="{% url 'login' %}" class="btn btn-primary">login as farmer</a>
      <br><br>

      <a href="{% url 'vet_login' %}" class="btn btn-primary">login as vet officer</a>
    </div>
    </div>
  </div>
{% endblock%}